
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    display: flex;
}

#page2{
    height: 100%;
    width: 100%;
    background-color: green;
    align-items: center;
    justify-content: center;
    display: flex;
}


#page3{
    height: 100%;
    width: 100%;
    background-color: blue;
    align-items: center;
    justify-content: center;
    display: flex;
}


#circle{
    height: 300px;
    width: 300px;
    background-color: red;
    border-radius: 50%;
}